<!doctype html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>Kitty Health Tracker1</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Acme|Bree+Serif|Pacifico" rel="stylesheet">
  <script
  src="http://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
</head>
<body>
<% include ./partials/header.ejs %>

<h2 id="welcome"><%= message %></h2>

<iframe src="<%= gifUrl2 %>" width="325" height="147" frameBorder="0" class="gifs" class="homeGif" id="homeGif1"></iframe>
<iframe src="<%= gifUrl1 %>" width="425" height="200" frameBorder="0" class="gifs" class="homeGif" id="homeGif2"></iframe>
<iframe src="<%= gifUrl3 %>" width="325" height="161" frameBorder="0" class="gifs" class="homeGif" id="homeGif3"></iframe>


<a href="/stats" id="statsLink"><%= statsLink %></a>





<% include ./partials/footer.ejs %>
<script src="/src/main.js"></script>
</body>
</html>
